/* Font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    align-items: center;
}

.card.cardAtivo {
    display: flex;
    align-items: center;
    height: 100vh;
}
.card {
    display: none;
}
.card .imagemFundo {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
}
.card .imagemFundo img {
    width: 100%;
    height: 100vh;
    display: block;
}

.conteudo {
    width: 62rem;
    height: 70rem;
    margin-left: 18rem;  
    background-color: #fff;
    
    padding: 6.5rem 6rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
/* Card paragraph */
.conteudo h1 {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 8rem;
}
.conteudo p {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3.5rem;
}

.conteudo .botao {
    font-size: 3rem;
    font-weight: 700;
    color: #C50000;

    align-self: flex-start;
    margin-top: auto;
}

/* Botão Seta */
.botaoSeta {
    border: none;
    background-color: transparent;
    width: 4.9rem;
    height: 7.8rem;
    position: absolute;

    cursor: pointer;
}
.botaoSeta img {
    width: 100%;
    display: block;
}
#botaoDireito {
    right: 7rem;
}
#botaoEsquerdo {
    left: 7rem;
    transform: rotate(180deg);
}
.botaoSeta:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}

/* Botão inativo */
.botaoSeta.botaoInativo {
    opacity: 0.5;
}